:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-image: url("/guest.jpg");
  background-size: 100% auto;
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto';
}

/* body:has(> .root:has(> main:has(> .admin))) {
  background-image: url("/admin.jpg");
}

body:has(> .root:has(> .guest)) {
  background-image: url("/guest.jpg");
} */

.root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header {
    padding: 15px;
}

.header-top span {
    width: auto;
    padding: 0;
    font-weight: 900;
    color: white;
    font-size: 34px;
}

.header-bottom {
    font-size: 10px;
    letter-spacing: 5px;
    color: white;
    padding-left: 10px
}

.letterV {
    font-weight: 100 !important;
}

.title, .auth-title {
    background-color: rgba(99, 83, 108, 1);
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.title img {
  float: right;
  width: 30px;
}

.auth-title {
  text-align: center;
}

.form label {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
  color: #848484;
}

.buttons-container {
  padding: 16px 45px;
  justify-content: space-between;
  display: flex;
}

.confirm-btn, .cancel-btn {
  padding: 11px 22px;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  width: auto;
  text-wrap-mode: nowrap;
}

.confirm-btn {
  background-color: rgba(22, 166, 175, 1);
  color: white;
}

.cancel-btn {
  color: #63536C;
  background-color: white;
}

.main-back {
  background-color: rgba(255, 255, 255, 0.9);
}

.film-name, .hall-name {
    font-size: 16px;
    font-weight: 700;
}

.chair {
    width: 24px;
    height: 24px;
    margin: 5px;
    border-radius: 3px;
}


.top-border {
    height: 5px;
    width: 100%;
    background-image: url('border-top.png');
    background-size: repeat-x 100%;
}

.bottom-border {
    height: 5px;
    width: 100%;
    background-image: url('border-bottom.png');
    background-size: repeat-x 100%;
}

.container {
  padding-top: 0 !important;
}

.chevron::before {
	border-style: solid;
  border-width: 3px 3px 0 0;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  left: 50%;
  margin-left: -6px;
  position: relative;
  top: 13px;
}

.chevron-right:before {
	transform: rotate(45deg);
}

.chevron-bottom:before {
	transform: rotate(135deg);
}

.chevron-left:before {
	transform: rotate(-135deg);
}