.hall {
    width: 50px;
    height: 25px;
}

.chair-standart {
    border: 1px solid #393939;
    background-color: rgb(196, 196, 196);
}

.chair-disabled {
    border: 1px solid grey;
}

.chair-vip {
    border: 1px solid #0A828A;
    background-color: #B0D6D8
}

.poster {
    width: 50px;
    height: 50px;
}

.hall-drop {
    height: 50px;
    border: 1px solid black;
}

.sessions {
    display: flex;
    align-items: center;
}

.session-grid {
    width: calc(100% - 120px);
    display: inline-block;
    margin-left: 20px;
}

.trash {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.trash img {
    width: 100%;
}

/* .section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgba(99, 83, 108, 1);
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
} */

.screen {
    border: 1px solid black;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;

    span {
        width: 100%;
        display: block;
        text-align: center;
        letter-spacing: 19px;
        line-height: 18px;
        font-size: 16px;
        margin-bottom: 20px;
    }
}

.screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cross {
    width: 20px;
    height: 20px;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    display: inline-block;
    margin-left: 5px;
}

.cross img {
    margin-top: -5px;
    width: 80%;
    margin-left: 10%;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .btn, .buttons-container .btn {
    margin-left: 15px;
}

.buttons .btn:first-child, .buttons-container .btn:first-child {
    margin-left: 0;
}

.hall-back {
    background: white;
    display: inline;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    margin-top: 2px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-left: 1px;
}

.hall-back:first-child {
    margin-left: 0;
}

.halls {
    margin-top: 10px;
    height: 43px;
}

.big {
   padding: 12px 15px;
   z-index: 10;
   font-weight: 900;
}

.modal-form {
    padding-top: 30px;
    padding-bottom: 30px;
}

.params {
    display: inline-block;
    width: 100px;
}

.sep {
    margin-left: 15px;
    margin-right: 15px;
    color: #848484;
}

.legend {
    .types {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;

        span {
            margin-right: 15px;
        }
    }

    span {
        color: #848484;
    }
}

.price-type {
    width: 100%;

    .chair {
        display: inline-block;
        position: relative;
        top: 12px;
    }

    input {
        width: 100px;
    }

    .price-type-price {
        display: inline-block;
        margin-right: 5px;
    }
}

.open {
    text-align: center;
}

.available-movies {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1%;
    margin-top: 10px
}