.film {
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    height: 70px;

    .cross {
        float: right;
        margin-top: 43px;
        margin-right: 2px;
    }
}

.film span {
    display: inline-block;
}