.toggle-btn {
    font-weight: bold;
}

.header-back {
    background: rgba(234, 233, 235, 0.95);
}

section:first-child .section-header .sign .circle {
    margin-top: 13px;
}

.section-header {
    display: flex;
    align-items: center;
    background-color: rgba(99, 83, 108, 1);
    color: white;
    padding: 5px 32px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;

    .sign {
        height: 70px;
    }

    .line {
        height: 30px;
        margin-top: -5px;
    }
}

.section-header-content {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 44px);
    padding-left: 20px;
}

.sign {
    width: 44px;
    display: inline-block;
}

.section-content {
    width: 100%;
    display: inline-block;
    padding: 30px;
}

.with-border {
    border-left: 2px solid #BC95D6;
}

.section-body {
    padding-left: 52px;
    padding-right: 52px;

    .sign {
        height: 100%;
    }

    .line {
        height: 100px;
    }
}



.circle {
    border: 4px solid #BC95D6;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: white;
    position: relative;
    margin-top: -12px;
}

.line {
    background-color: #BC95D6;
    width: 2px;
    height: 100%;
    margin-left: 20px;
}