.payment {
    .main-header {
        margin: 0;
        font-size: 22px;
        line-height: 25px;
        font-weight: 700;
        color: #C76F00;
    }

    .main-back {
        padding: 15px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
