.ticket {
    .main-header {
        margin: 0;
        font-size: 22px;
        line-height: 25px;
        font-weight: 700;
        color: #C76F00;
    }

    .main-back {
        padding: 15px;
    }
}

.qr_code {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.qr_code_border {
    border: 10px solid white;
}